<header
  class="header flex justify-between items-center p-4 bg-gray-800 text-white"
>
  <h1>Dishgenie</h1>
  <app-navigation [isOpen]="isOpen" (toggle)="toggleMenu()" />
  <div
    class="z-10 flex absolute left-0 top-0 flex-col justify-center items-center"
  >
    <ul
      class="flex gap-3 flex-col justify-center items-center"
      [class]="{
    open: isOpen,
  }"
    >
      <li>
        <a href="#">Get meal</a>
      </li>
      <li>
        <a href="#">My recipes</a>
      </li>
    </ul>
  </div>
</header>
