<header
  class="header flex justify-between items-center p-4 bg-gray-800 text-white"
>
  <h1>Dishgenie</h1>
  <app-navigation [isOpen]="isOpen" (toggle)="toggleMenu()" />
  <div
    class="z-10 flex absolute left-0 top-0 flex-col justify-center items-center"
  >
    <ul
      class="flex gap-3 pt-10 flex-col justify-center items-center"
      [class]="{
    open: isOpen,
  }"
    >
      @if (isOpen) {
      <li class="flex justify-center items-center p-2">
        <a href="#" class="text-2xl text-gray-800">Get meal</a>
      </li>
      <li class="flex justify-center items-center p-2">
        <a href="#" class="text-2xl text-gray-800">My recipes</a>
      </li>
      }
    </ul>
  </div>
</header>
