<nav class="mobile-navigation flex flex-col justify-center items-center">
  @if (isOpen) {
  <ng-icon
    name="heroXMarkSolid"
    class="h-4 cursor-pointer z-10"
    (click)="toggleMenu()"
  />
  } @else {
  <ng-icon
    name="heroBars3BottomLeftSolid"
    class="h-4 cursor-pointer z-10"
    (click)="toggleMenu()"
  />
  }
  <ul
    class="hidden flex gap-3 flex-col justify-center items-center"
    [class]="{
    open: isOpen,
  }"
  >
    <li>
      <a href="#">Get meal</a>
    </li>
    <li>
      <a href="#">My recipes</a>
    </li>
  </ul>
</nav>
