<div class="flex flex-col mt-2 justify-center items-center">
  <div class="flex w-full">
    <input
      pInputText
      [(ngModel)]="ingredientName"
      placeholder="Add ingredient"
      (keyup.enter)="ingredientName.length > 3 ? searchIngredient() : null"
      class="w-full"
      name="ingredientName"
    />
    <p-button
      label="Search ingredient"
      icon="pi pi-search"
      [disabled]="!(ingredientName.length > 3)"
      class="ml-2"
      (click)="searchIngredient()"
    ></p-button>
  </div>
  <div class="flex flex-row">
    <div class="flex flex-row">
      @if (foundIngredients.length > 0) { @for (ingredient of foundIngredients;
      track $index) {

      <div class="flex flex-row">
        <div
          class="flex flex-col justify-between items-center cursor-pointer border-1 border-round m-2 px-2"
          (click)="toggleIngredient(ingredient)"
          [class]="
            isIngredientInList(ingredient.id) ? 'bg-green-100' : 'bg-white'
          "
        >
          <img
            [src]="
              'https://img.spoonacular.com/ingredients_250x250/' +
              ingredient.image
            "
            [alt]="ingredient.name"
            class="border-round mt-6"
          />
          <p class="text-slate-700 my-2">{{ ingredient.name }}</p>
        </div>
      </div>
      } }
    </div>
    <div class="border-1 border-gray-400 rounded-md p-2 m-2 w-50">
      @if (listOfIngredients.length > 0) {
      <p>Your ingredients</p>
      <div class="flex flex-wrap">
        <ul>
          @for (ingredient of listOfIngredients; track $index) {
          <li class="flex flex-row justify-between items-center w-30 m-2">
            <p>{{ ingredient.name }}</p>
            <ng-icon
              name="heroXMarkSolid"
              class="h-4 cursor-pointer ml-2 z-10"
              (click)="toggleIngredient(ingredient)"
            />
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
</div>
@if (listOfIngredients.length >= 3) {
<RouterLink
  [routerLink]="'recipes'"
  class="p-button p-component p-button-outlined w-50 mt-4"
  [queryParams]="{ ingredients: [ingredientNames] }"
  routerLinkActive="router-link-active"
  >Search recipe with selected ingredients</RouterLink
>
}
