<div class="flex flex-col">
  <div class="flex">
    <input
      pInputText
      [(ngModel)]="ingredientName"
      placeholder="Add ingredient"
      (keyup.enter)="ingredientName.length > 3 ? searchIngredient() : null"
      class="w-full"
      name="ingredientName"
    />
    <p-button
      label="Search ingredient"
      icon="pi pi-search"
      [disabled]="!(ingredientName.length > 3)"
      class="ml-2"
      (click)="searchIngredient()"
    ></p-button>
  </div>
  <div class="flex">
    @if (foundIngredients.length > 0) { @for (ingredient of foundIngredients;
    track $index) {
    <div class="flex flex-col">
      <p-button
        icon="pi pi-check"
        class="flex flex-row"
        (click)="addIngredient(ingredient)"
      >
        <img
          [src]="
            'https://img.spoonacular.com/ingredients_250x250/' +
            ingredient.image
          "
          [alt]="ingredient.name"
        />
        <p>{{ ingredient.name }}</p>
      </p-button>
    </div>

    } }
    <!-- <p-button
      (click)="applyFilter('vege')"
      [severity]="filters.vege ? 'success' : 'secondary'"
      >Vege</p-button
    >
    <p-button
      (click)="applyFilter('vegan')"
      [severity]="filters.vegan ? 'success' : 'secondary'"
      >Vegan</p-button
    >
    <p-button
      (click)="applyFilter('gluten_free')"
      [severity]="filters.gluten_free ? 'success' : 'secondary'"
      >Gluten-free</p-button
    > -->
  </div>
</div>
