<div class="flex flex-col">
  <div class="flex">
    <input
      pInputText
      [(ngModel)]="ingredientName"
      placeholder="Add ingredient"
      (keyup.enter)="ingredientName.length > 3 ? searchIngredient() : null"
      class="w-full"
      name="ingredientName"
    />
    <p-button
      label="Search ingredient"
      icon="pi pi-search"
      [disabled]="!(ingredientName.length > 3)"
      class="ml-2"
      (click)="searchIngredient()"
    ></p-button>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-row">
      @if (foundIngredients.length > 0) { @for (ingredient of foundIngredients;
      track $index) {

      <div class="flex flex-row">
        <div
          class="flex flex-col justify-between items-center cursor-pointer border-1 border-round m-2 px-2"
          (click)="toggleIngredient(ingredient)"
          [class]="
            isIngredientInList(ingredient.id) ? 'bg-green-100' : 'bg-white'
          "
        >
          <img
            [src]="
              'https://img.spoonacular.com/ingredients_250x250/' +
              ingredient.image
            "
            [alt]="ingredient.name"
            class="border-round mt-6"
          />
          <p class="text-slate-700 my-2">{{ ingredient.name }}</p>
        </div>
      </div>
      } }
    </div>
    <div>
      @if (listOfIngredients.length > 0) {
      <p>Your ingredients</p>
      <div class="flex flex-wrap">
        <ul>
          @for (ingredient of listOfIngredients; track $index) {
          <li>
            <p>{{ ingredient.name }}</p>
            <ng-icon
              name="heroXMarkSolid"
              class="h-4 cursor-pointer z-10"
              (click)="toggleIngredient(ingredient)"
            />
          </li>
          }
        </ul>
      </div>
      }
    </div>
    @if (listOfIngredients.length >= 3) {
    <section>
      <div class="flex flex-col">
        <h3>Filters</h3>
        <div class="flex flex-row gap-2 mx-2">
          <p-button
            (click)="applyFilter('vege')"
            [severity]="filters.vege ? 'success' : 'secondary'"
            >Vege</p-button
          >
          <p-button
            (click)="applyFilter('vegan')"
            [severity]="filters.vegan ? 'success' : 'secondary'"
            >Vegan</p-button
          >
          <p-button
            (click)="applyFilter('gluten_free')"
            [severity]="filters.gluten_free ? 'success' : 'secondary'"
            >Gluten-free</p-button
          >
        </div>
        <p-button (click)="searchRecipe()"
          >Search recipe with selected ingredient</p-button
        >
      </div>
    </section>
    } @if (foundRecipes.length > 0) {
    <section>
      <h2>Found recipes</h2>
      @for (recipe of foundRecipes; track $index) {
      <div>
        <img [src]="recipe.image" alt="" />
        <h2>{{ recipe.title }}</h2>
      </div>
      }
    </section>
    }
  </div>
</div>
